<mat-grid-list cols="4" >
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile class="book-image">
    <img [src]="'../../assets/book/'+book.id+'.jpg'" [alt]="'Picture of ' + book.name"/>
  </mat-grid-tile>
  <mat-grid-tile class="book-stat">
    <mat-grid-list cols="1">
    <p>
      <span class="category">NO : </span>
      <span class="value" >{{ book.id }}</span>
    </p>
    <p>
      <span class="category">Name : </span>
      <span class="value">{{ book.name }}</span>
    </p>
    <p>
      <span class="category">Harga : </span>
      <span class="value">{{ book.price }}</span>
    </p>
  </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile> </mat-grid-tile>
</mat-grid-list>

